@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

#wrapper a { text-decoration: none; }

#ad {
  box-sizing: border-box;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  border: 1px solid #b1b1b1;
  opacity: 0;
  padding: 20px;
}

#headline {
  /*position: absolute;*/
  line-height: 1.2em;
  font-size: 22px;
  font-weight: 300;
  color: white;
  width: 80%;
}

#logo {
  position: absolute;
}

#cta {
  position: absolute;
  background: #07395c;
  display: inline-block;
  padding: 4px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

#value {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 9px;
  color: white;
  text-align: right;
  background: black;
  padding: 0 2px;
}
